<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Editar Prato</title>
    <style>
        /* Adicione estilos específicos, se necessário */
    </style>
</head>
<body>
    <h1>Editar Prato</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="nome_prato">Nome do Prato:</label>
        <input type="text" id="nome_prato" name="nome_prato" value="{{ prato['nome'] }}" required>
        <br>
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" value="{{ prato['descricao'] }}" required>
        <br>
        <label for="categoria_id">Categoria:</label>
        <select id="categoria_id" name="categoria_id" required>
            {% for categoria in categorias %}
                <option value="{{ categoria['id'] }}" {% if categoria['id'] == prato['categoria_id'] %}selected{% endif %}>{{ categoria['nome'] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="nova_imagem">Nova Imagem (opcional):</label>
        <input type="file" id="imagem" name="nova_imagem">
        <br>
        <button type="submit">Salvar Alterações</button>
    </form>
</body>
</html>
